@page "/"

<h2 class="pb-2">Topic</h2>
<p class="pb-2">
    Career App => dump หน้าจอสำหรับทดลองใส่ข้อมูล
</p>
<div class="pb-2">
    <img class="fit-width" src="images/banner.png" />
</div>

<h2 class="mb-4 mt-4">Resources</h2>

<ul>
    <li>Import as Excel to Update All of Database</li>
    <li>Add 1 by 1 for transaction</li>
    <li>Show Inserted Data</li>
    <li>Export Static Data As Excel</li>
</ul>
